<div>
    <ul>
        <li *ngFor="let product of paginatedProducts">
            <div class="produto">
                <img  *ngIf="product.filename.includes('http')" src="{{product.filename}}" />
                <img  *ngIf="!product.filename.includes('http')" src="https://raw.githubusercontent.com/gisellequarto/Angular/main/crudAngular/backend/assets/images/{{product.filename}}" />
            <div class="nome">
                <h4>{{ product.title }}</h4>
                <p>{{ product.description }}</p>
            </div>
            <div>
                <span class="preco">€ {{ product.price }}</span>
            </div>
        </div>
    </li>
</ul>
        <button (click)="load(paginatedProducts.length)">Load More</button>
</div>