mat-card-title {
    color: #E91E63;
    font-size: 30px;
}

img {
    float: left;
    height: 600px;
    width: 400px;
    margin: 10px 30px 0px 0px; 
    opacity: 0.5;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    font-size: 20px;
    height: 550px;
}

button {
  margin: 20px 15px 0px 0px;
  font-size: 20px;
  border-color: #757575;
  color: #212121;
  box-shadow: 0 0 40px 40px #757575 inset, 0 0 0 0 #F8BBD0;
  -webkit-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

button.save:hover {
  box-shadow: 0 0 10px 0 #E91E63 inset, 0 0 10px 4px #E91E63;
}

button.delete:hover {
  box-shadow: 0 0 10px 0 #607D8B inset, 0 0 10px 4px #607D8B;
}

button.cancel:hover {
  box-shadow: 0 0 10px 0 #757575 inset, 0 0 10px 4px #757575;
}
