<mat-card>
    <mat-card-title>Update Product</mat-card-title>
    <img  *ngIf="product.filename.includes('http')" src="{{product.filename}}" />
    <img  *ngIf="!product.filename.includes('http')" src="https://raw.githubusercontent.com/gisellequarto/Angular/main/crudAngular/backend/assets/images/{{product.filename}}" />
    <form>
        <mat-form-field>
            <input matInput placeholder="Name" 
                [(value)]="product.title" name="title" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Description" 
                [(value)]="product.description" name="description" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Image url" 
                [(value)]="product.filename" name="filename" disabled>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Price (€)" 
                [(value)]="product.price" name="price" disabled>
        </mat-form-field>
    </form>

    <button class="delete" mat-raised-button (click)="deleteProduct()">
        Yes
    </button>

    <button class="cancel" mat-raised-button (click)="cancel()">
        No
    </button>
</mat-card>